html,
body {
  min-height: 100%;
  background: linear-gradient(180deg, #172726 -41.9%, #0B0D0E 50%);
  font-family: 'Work Sans', sans-serif;
}
* {
  font-family: 'Work Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #67DAB1;
  border-radius: 20px;
}
  
#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

@font-face {
  font-family: 'Britanica-HeavySemiExpanded';
  src: url('/fonts/britanica-heavy-semi-expanded/britanica-heavy-semi-expanded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Start -- Rainbow connect wallet custom style */

.ju367v9h {
  background: transparent !important;
  border: solid 1px #67DAB1 !important; 
}
.navbar-content-container .ju367va {
  min-width: 180px;
  justify-content: end;
}

.layout-vertical-nav .ju367va button{
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.layout-vertical-nav .ju367v1p {
  width: calc(100vw - 60px);
  display: flex;
  justify-content: space-between;
}


.iekbcc0.ju367v8 {
  font-size: 18px !important;
  font-weight: 400;
}

.ju367va2 {
  border-color: transparent !important;
  background: transparent !important;
}

:root {
  --rk-colors-connectButtonBackground: transparent !important;
}

/* End -- Rainbow connect wallet custom style */

/* Start -- Number Input box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* End -- Number Input box */

/* Customize Toast Style */
@keyframes progress-bar {
  from { width: 0; }
  to { width: 100%; }
}

.go2072408551.react-hot-toast {
  max-width: 100%;
  padding: 0;
}

.go2072408551.react-hot-toast .go3958317564 {
  margin: 0;
}

/* End -- Customize Toast Style */